@import "./src/style.scss";

.header__top {
    height: 12vh;
    background-color: $primary-color;
    @include flexible();
    justify-content: center;

    & a {
        display: block;

        & img {
            display: block;
            height: 7vh;
        }
    }
}