@import "./src/style.scss";

.header__top {
    height: 12vh;
    background-color: $primary-color;
    @include flexible();
    justify-content: center;

    & img {
        display: block;
        height: 7vh;
    }
}

.header__container {
    position: relative;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.7), rgba(44, 44, 44, 0.7)), url("/assets/images/background-A421.png") center no-repeat;
    background-size: cover;
    height: 88vh;
    @include flexible();
    justify-content: center;

    & .header__logo {
        @include absoluteCenter();
        z-index: 1;
        height: 72vh;
    }


    & .header__information {
        position: relative;
        z-index: 2;
        padding: 0 13vw;

        & .header__title {
            @include h1();
            color: white;
            text-align: center;
            margin-bottom: 40px;
        }

        & .header__subtitle {
            @include h2-regular();
            color: white;
            text-align: center;
            margin-bottom: 97px;
        }

        & .header__button {
            display: block;
            margin: 0 auto;
            @include h3-bold();
            cursor: pointer;
            background-color: $primary-color;
            color: white;
            text-align: center;
            transition: all 0.4s ease;
            padding: 20px 45px;
            border-radius: 15px;
            &:hover {
                background-color: $primary-color-hover;
            }
            &:active {
                background-color: $primary-color-active;
            }
        }
    }
}