div.header__top
    .header__outer
        .header__inner
            button(onclick=`history.back()`).header__back.header__hidden#HeaderBack
                include ../../../assets/icons/header_arrow.svg
            a(href='/').header__logo
                img(src='/assets/images/mirea-logo.svg' alt='MIREA-logo')
            a(href=`${headerLink}.pug`).header__compare
                div.header__badge.header__badge__hidden#HeaderCompare
                include ../../../assets/icons/header_compare.svg
