div.header__container
    img(src='../src/assets/images/background-IT-logo.svg' alt='IIT-logo').header__logo
    .header__information
        h1.header__title
            | Корзина компетенций студента РТУ МИРЭА
        h2.header__subtitle
            | Институт информационных технологий
        a(href="#CoursesTitle").header__button
            | Ознакомиться