doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Сравнение профилей обучения")
        title Сравнение профилей

        script(src='../js/header/header.js', type='module')
        link(rel="stylesheet" href="../commonStyles.scss")
        link(rel="stylesheet" href="./compare.scss")
        link(rel="stylesheet" href="../layout/header/header.scss")
        link(rel="stylesheet" href="../layout/footer/footer.scss")

    body
        header
            include ../layout/header/header
        main.compare.compare__background__top#CompareBackground
            h1.compare__title
                | Сравнение профилей
            section.compare__container#CompareContainer
                div.compare__empty
                    h2.compare__subtitle
                        | Для сравнения добавьте два профиля
                    a(href='/').compare__link
                        | Перейти к выбору
        footer
            include ../layout/footer/footer
