@import "./src/style.scss";

.course__header {
    position: relative;
    height: 46vh;
    width: 100%;
    @include flexible();
    justify-content: center;

    & .course__background {
        z-index: 0;
        height: inherit;
        display: block;
        width: 100%;
        @include absoluteCenter();
        object-fit: cover;
    }
    & .course__information {
        width: 1200px;
        margin: 0 auto;

        & .course__title {
            position: relative;
            z-index: 1;
            @include h1();
            margin-bottom: 30px;
            color: white;
        }

        & .course__cipher {
            position: relative;
            z-index: 1;
            text-align: center;
            @include h2-regular();
            color: white;
        }
    }
}

.profiles__container {
    @include page-template();
    min-height: 400vh;

    & .profiles__title {
        @include h1();
        margin-bottom: 50px;
    }
}

.card__parent {
    & .card__content {
       grid-gap: 50px;
    }
    & .card__container {
        cursor: grab;
    }
}

.card__based {
    & .card__topic {
        margin: 100px 0 50px;
        @include h2-bold;
        text-align: center;
    }

    & .subject {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 9px 25px;
        justify-content: center;
        align-items: flex-start;

        .subject__container {
            .subject__icon {
                width: 100px;
                height: 100px;
                background: radial-gradient(73.81% 92.33% at 8.65% 12.15%, #65BFFF 0%, #FF6FCE 100%);
                border-radius: 10px;
                @include flexible();
                justify-content: center;
                margin: 0 auto 10px;

                & img {
                    display: block;

                }
            }

            .subject__name {
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $paragraph-black;
            }
        }
    }
}