@import "./src/style.scss";

* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    background-color: #f4f4f4;
}

.card__container {
    width: 1170px;
    padding: 75px;
    margin: 0 auto 50px;
    background: white;
    border-radius: 15px;

    & .card__header {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        & .card__iconContainer {
            @include flexible();

            & .card__icon {
                margin-right: 35px;
                display: block;
                width: 80px;
            }
            & .profileCard__icon {
                width: 160px;
            }
        }
        & .card__nameContainer {
            max-width: 805px;
            padding-left: 35px;
            border-left: 2px solid $paragraph-black;
            @include flexible();
            width: fit-content;

            & .card__name {
            }
            & .card__title {
                word-wrap: break-word;
                @include h2-bold();
                margin-bottom: 10px;
            }
            & .profileCard__title {
                margin-bottom: 0;
            }

            & .card__cipher {
                @include h3-regular();
                color: rgba(44, 44, 44, 0.5);
            }

        }

    }

    & .card__content {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 70px;

        & .card__info {
            & .card__item {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 0;
                }

                & .item__title {
                    @include h3-bold();
                    margin-bottom: 25px;
                }
                & .item__text {
                    @include paragraph-regular();
                    margin-bottom: 17px;
                }
                & .card__exam {
                    @include flexible();
                    margin-bottom: 17px;

                    img {
                        display: block;
                        width: 24px;
                        margin-right: 20px;
                    }
                    & .item__text {
                        margin-bottom: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        & .card__profiles {
            width: 100%;
            position: relative;

            & .profile__title {
                @include h3-bold();
                margin-bottom: 25px;
            }

            & .profile__container {
                display: block;
                padding: 15px 20px;
                margin-bottom: 10px;
                width: 100%;
                background-color: $primary-color;
                @include flexible();
                justify-content: space-between;
                border-radius: 10px;
                transition: all 0.4s ease;

                & .profile__text {
                    @include paragraph-regular();
                    color: white;
                }
                & .profile__ico {
                    display: block;
                    margin-left: 5px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                @include button-actions();
            }

            & .profile__description {
                @include paragraph-regular();
                white-space: pre-wrap;
                margin-bottom: 25px;
            }

            & .profile__important {
                @include paragraph-regular();
                & span {
                    @include paragraph-bold();
                    color: $primary-color;
                }
            }

            & .card__button {
                cursor: pointer;
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                @include paragraph-bold();
                color: white;
                padding: 15px 40px;
                border-radius: 15px;
                background-color: $primary-color;
                @include button-actions();
            }
        }
    }
}