 @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/helvetica_boldoblique.otf') format('otf');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/helvetica_boldoblique.otf') format('otf');
}