doctype html

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Competencies

        script(src='./styles.js', type='module')
        script(src='./scripts.js', type='module')
    body
        header.header
            include ./layout/header/header.pug
        main
            include ./layout/courses/courses.pug
