$primary-color: #196BB1;
$primary-color-hover: #0175D8;
$primary-color-active: #15568D;
$paragraph-black: #2c2c2c;
$paragraph-black-05: rgba(44, 44, 44, 0.5);

@mixin flexible {
    display: flex;
    align-items: center;
}
@mixin absoluteCenter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

@mixin h1 {
    text-align: center;
    color: $paragraph-black;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
}
@mixin h2-regular {
    color: $paragraph-black;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
}
@mixin h2-bold {
    color: $paragraph-black;
    font-weight: 700;
    font-size: 46px;
    line-height: 53px;
}
@mixin h3-regular {
    color: $paragraph-black;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
@mixin h3-bold {
    color: $paragraph-black;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
@mixin paragraph-regular {
    color: $paragraph-black;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
@mixin paragraph-bold {
    color: $paragraph-black;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

@mixin page-template {
    padding: 150px 0;
    background:url("/assets/images/courses_background.svg") bottom no-repeat;
    background-size: contain;

    @media (max-width: 1170px) {
        background-size: cover;
    }
}

@mixin button-actions {
    transition: all 0.4s ease;

    &:hover {
        background-color: $primary-color-hover;
    }
    &:active {
        background-color: $primary-color-active;
    }
}

@mixin button {
    @include button-actions();
    display: block;
    width: max-content;
    cursor: pointer;
    background-color: $primary-color;
    color: white;
}

@mixin cta-button {
    @include h3-bold();
    @include button();
    padding: 20px 45px;
    border-radius: 15px;
}
